---
import styles from './WhyChooseUs.module.scss';
import Container from '@components/UI/Container/Container.astro';
import SectionHeading from '@components/UI/SectionHeading/SectionHeading.astro';
import whyChooseUsData from './WhyChooseUs.data';
import { Image } from 'astro:assets';
import GasStoveImage from '@static/images/gas-stove.jpeg';
---

<section class={styles.WhyChooseUs}>
  <Container>
    <div class={styles.content}>
      <div class={styles.left}>
        <SectionHeading
          heading='Peak Performance'
          subheading='Why choose us?'
        />
        <div class={styles.image}>
          <Image
            loading='lazy'
            src={GasStoveImage}
            alt='Gas Stove'
            width={500}
            height={250}
            quality={100}
          />
        </div>
      </div>
      <div class={styles.grid}>
        {
          whyChooseUsData.map((value) => (
            <div class={styles.value}>
              <h3>{value.title}</h3>
              <p>{value.text}</p>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</section>
