---
import styles from './WhyChooseUs.module.scss';
import Container from '@components/UI/Container/Container.astro';
import SectionHeading from '@components/UI/SectionHeading/SectionHeading.astro';

const values = [
  {
    title: 'Expertise You Can Rely On',
    text: 'Our team consists of licensed and experienced plumbers who are well-versed in all aspects of plumbing. Rest assured, your plumbing needs will be handled with utmost professionalism and expertise.',
  },
  {
    title: 'Prompt and Reliable Service',
    text: 'We understand the importance of timely solutions when it comes to plumbing issues. Count on us to respond promptly to your service requests and deliver reliable solutions that exceed your expectations.',
  },
  {
    title: 'Affordable Pricing',
    text: 'We believe that quality plumbing services should be accessible to all. That\'s why we offer competitive pricing without compromising on the quality of our workmanship.',
  },
  {
    title: 'Customer Satisfaction Guaranteed',
    text: 'Your satisfaction is our top priority. We are dedicated to providing exceptional service, ensuring that every project is completed to your satisfaction. We value open communication and strive to exceed your expectations at every step.',
  },
];
---

<section class={styles.WhyChooseUs}>
  <Container>
    <div class={styles.content}>
      <div class={styles.left}>
        <SectionHeading
          heading="Peak Performance"
          subheading="Why choose us?"
        />
        <div class={styles.image}>
          <img src="/static/images/gas-stove.jpg" alt="gas-stove" />
        </div>
      </div>
      <div class={styles.grid}>
        {
          values.map((value) => (
            <div class={styles.value}>
              <h3>{value.title}</h3>
              <p>{value.text}</p>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</section>
