---
import styles from './ServicesOverview.module.scss';
import Container from '@components/UI/Container/Container.astro';
import SectionHeading from '@components/UI/SectionHeading/SectionHeading.astro';
import Card from '@components/UI/Card/Card.astro';
import servicesData from '@components/content/Services/Services.data';
import EmergencyCard from '@components/content/EmergencyCard/EmergencyCard.astro';
import { Image } from 'astro:assets';
---

<section class={styles.ServicesOverview}>
  <Container>
    <div>
      <SectionHeading
        heading='What we can do for you'
        subheading='Our Services'
        centerAlign
      />
      <div class={styles.cardGrid}>
        {
          servicesData.map((service) => (
            <a
              href={`/services#${service.name.toLowerCase().replace(/ /g, '-')}`}
            >
              <Card className={styles.card}>
                <h3>{service.name}</h3>
                <h4>{service.description}</h4>
                <div class={styles.image}>
                  <Image
                    loading='lazy'
                    src={service.image}
                    alt='Gas Stove'
                    width={600}
                    height={600}
                  />
                </div>
              </Card>
            </a>
          ))
        }
      </div>
      <EmergencyCard />
    </div>
  </Container>
</section>
